/*! intel-appframework - v2.1.0 - 2014-04-07 */

/**********************************************************
    GENERAL UI ELEMENTS
**********************************************************/

* {
    -webkit-user-select:none; /* Prevent copy paste for all elements except text fields */
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* set highlight color for user interaction */
    -moz-tap-highlight-color:rgba(0, 0, 0, 0); /* set highlight color for user interaction */
    -ms-touch-action:none;
    -moz-user-select:-moz-none;
    -webkit-touch-callout: none; /* prevent the popup menu on any links*/
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

body {
    overflow-x:hidden;
    -webkit-text-size-adjust:none;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#000;
    font-size:14px;
    display:-webkit-box;
    background: #CBD2D8;
    /* We want to layout our first container vertically */
    -webkit-box-orient: vertical;
    /* we want our child elements to stretch to fit the container */
    -webkit-box-align:stretch;
} /* General styles that apply to elements not contained within other classes and styles */


#afui input,textarea { -webkit-user-select:text; -moz-user-select:-moz-text;-moz-user-select:text;} /* allow users to select text that appears in input fields */

#afui img { border:none; } /* Remove default borders for images */


#afui p {
    display:block;
    margin:6px 0;

    font-size:14px;
    line-height:20px;
    color:inherit
}